:root
{
    --cinza: #ccc;
    --preto: #1b0c22;
    --laranja: #ff5e3d;
    --azul: #2487ee;
    --cinzaEscuro: #535562;
    --roxo: #7632d5;
    --azulEsverdeado: #0BCBB0;
    --verde: #17ae27;
    --amarelo: #f0dc1b;
    --vermelho: #ff5052;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 600px!important;
    margin: 0 auto;
    padding: 40px 50px;
    border: solid 3px var(--cinza);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form
{
    margin: 10px 30px;
}
