:root
{
    --cinza: #ccc;
    --preto: #1b0c22;
    --laranja: #ff5e3d;
    --azul: #2487ee;
    --cinzaEscuro: #535562;
    --roxo: #7632d5;
    --azulEsverdeado: #0BCBB0;
    --verde: #17ae27;
    --amarelo: #f0dc1b;
    --vermelho: #ff5052;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.area-titulo{
    width: 100%;
    background-color: var(--laranja);
    padding: 20px;
}

.area-titulo .titulo{
    color: white;
    margin-bottom: 0!important;
}

th{
    font-weight: bold;
}

.table .btn{
    background-color:#66f263;
    border-color:#66f263;
}

.table button
{
    margin-left: 40px!important;
}
