/* Seção Detalhes(produto)  */
:root
{
    --cinza: #ccc;
    --preto: #1b0c22;
    --laranja: #ff5e3d;
    --azul: #2487ee;
    --cinzaEscuro: #535562;
    --roxo: #7632d5;
    --azulEsverdeado: #0BCBB0;
    --verde: #17ae27;
    --amarelo: #f0dc1b;
    --vermelho: #ff5052;
}

.menu{

}

.nav-vertical
{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0!important;
}

.nav-vertical li
{
    cursor: pointer;
}

.nav-vertical li:hover, .nav-vertical li:hover a, .nav-vertical li:hover i
{
    background-color: var(--laranja);
    color: white!important;
}

.nav-vertical i
{
    margin: 10px 20px 10px 55px;
}

.nav-vertical a
{
    margin: 6px 0 ;
    text-decoration: none;
    color: var(--preto);
}

.nav-vertical a:hover, .nav-vertical i:hover
{
    color: white;
    text-decoration: none;
}
