/* Seção Detalhes(produto)  */
:root
{
    --cinza: #ccc;
    --preto: #1b0c22;
    --laranja: #ff5e3d;
    --azul: #2487ee;
    --cinzaEscuro: #535562;
    --roxo: #7632d5;
    --azulEsverdeado: #0BCBB0;
    --verde: #17ae27;
    --amarelo: #f0dc1b;
    --vermelho: #ff5052;
}

h2
{
    max-width: 400px;
}

.container-principal
{
    margin-left: 50px;
}

.container-detalhes
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.img-principal
{
    width: 500px;
    margin-left: 20px;

    border: 2px solid var(--cinza);
}

.img-list
{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    cursor: pointer;
    padding-left: 0!important;
}


.img-list li
{
    margin-bottom: 10px;
    border: 2px solid var(--cinza);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-list .imgs
{
    max-width: 100%;
    max-height: 100%;
}

.informacoes
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.preco-destaque
{
    font-size: 26px;
}

.preco-antigo
{
    text-decoration: line-through;
}

.informacoes-texto
{
    font-size: 18px;
    max-width: 450px;
}

.fa-circle-check
{
    color: rgb(109, 210, 109);
    margin-right: 10px;
}

.fa-circle-exclamation
{
    color: red;
    margin-right: 10px;
}

.adicionar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adicionar input
{
    border: 1px solid var(--cinza);
    height: 30px;
    max-width: 100px;
    border-radius: 20px;
    margin: 0 5px;
}

.adicionar button
{
    border: 2px solid blue;
    background-color: white!important;
    border-radius: 100%;
    color: blue;
}

.adicionar button:hover
{
    border: 2px solid blue;
    background-color: white!important;
    border-radius: 100%;
    color: blue;
}

.adicionar a
{
    margin-left: 10px;
}

.adicionar a i
{
    margin-right: 10px;
}



.img-list-editar
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.container-img
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 400px;
}

.container-img .imgs
{
    display: flex;
    justify-content: center;
    width: 130px;
    height: 100px;
    border: 2px solid var(--cinza);
    margin-left: 10px;
}

.container-img img
{
    max-width: 100%;
    max-height: 100%;
}

.container-img .flex-nowrap
{
    max-height: 37px;
    margin-top: 20px;
    max-width: 150px;
}


/* Descricao */

.descricao{
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.descricao h1{
    text-align: center;
    margin: 20px 0;
}

.descricao p{
    max-width: 500px;
    margin-bottom: 50px;
}

.sugestoes{
    display: flex;
    flex-direction: column;
}

.sugestoes h2{
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
}
